In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('chipotle.csv')

In [ ]:

#df.to_string()
#df.filter()

## clean the item_price column and transform it in a float
## reassign the column with the cleaned prices

In [2]:
df['item_price']=df['item_price'].apply(lambda x:x[1:])
df['item_price']=df['item_price'].astype('float')
df1=df

In [3]:
#df['item_price'].sum()
df['item_price']

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

## select only the products with quantity equals to 1

In [4]:
df[df['quantity'] == 1]

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,1,Izze,[Clementine],3.39
2,2,1,1,Nantucket Nectar,[Apple],3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
5,5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
...,...,...,...,...,...,...
4617,4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

####  clean the item_price column and transform it in a float


####  reassign the column with the cleaned prices


####  delete the duplicates in item_name and quantity


####  chipo_filtered

####  select only the products with quantity equals to 1



####  What is the price of each item? print a data frame with only two columns item_name and item_price

####  Sort by the name of the item


####  What was the quantity of the most expensive item ordered?


####  How many times was a Veggie Salad Bowl ordered?

####  How many times did someone order more than one Canned Soda?

## What is the price of each item? print a data frame with only two columns item_name and item_price

In [5]:
maxx=df['item_price'].max()
print(df[{'item_name','item_price'}])

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

## What was the quantity of the most expensive item ordered?

In [6]:


print(maxx)
df[df['item_price'] == maxx]['quantity']

44.25

3598    15
Name: quantity, dtype: int64

## Sort by the name of the item

In [7]:
df.sort_values(by='item_name')

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
3389,3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...,...
2384,2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

## How many times was a Veggie Salad Bowl ordered

In [8]:
#d['Text'].str.contains('AWAIT')
df[ df['item_name'].str.contains('Veggie Salad Bowl')]['quantity'].sum()

18

## How many times did someone order more than one Canned Soda

In [9]:
cs=df[ df['item_name'].str.contains('Canned Soda')]
cs[cs['quantity'] > 1]['order_id'].count()

20

## delete the duplicates in item_name and quantity

In [14]:
#print(df1['order_id'].count)
df1.drop_duplicates(subset =['item_name','quantity'],keep = False, inplace = True) 
df1

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
445,445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",22.20
506,506,212,2,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",23.50
673,673,279,1,Bowl,"[Adobo-Marinated and Grilled Steak, [Sour Crea...",7.40
674,674,279,1,Chips and Mild Fresh Tomato Salsa,NaN,3.00
1257,1257,511,4,Chips and Fresh Tomato Salsa,NaN,11.80
1555,1555,631,2,Chips and Roasted Chili Corn Salsa,NaN,5.90
1653,1653,668,1,Veggie Crispy Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49
1903,1903,768,2,Barbacoa Crispy Tacos,"[Fresh Tomato Salsa, [Sour Cream, Cheese, Rice]]",18.50
2235,2235,901,4,Canned Soda,[Sprite],4.36
2441,2441,970,5,Bottled Water,NaN,7.50
2550,2550,1010,2,Chips and Tomatillo-Red Chili Salsa,NaN,4.78
2581,2581,1024,2,Carnitas Burrito,"[Tomatillo Red Chili Salsa, [Rice, Pinto Beans...",18.50
2645,2645,1051,3,Chips and Guacamole,NaN,13.35
2874,2874,1142,2,Steak Crispy Tacos,"[Tomatillo-Red Chili Salsa (Hot), [Pinto Beans...",17.98
2936,2936,1167,3,Chips,NaN,6.45
2944,2944,1170,3,Side of Chips,NaN,5.07
3334,3334,1336,3,Steak Bowl,"[Tomatillo Green Chili (Medium), [Rice, Black ...",26.07
3389,3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
3480,3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",35.25
3598,3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25
3599,3599,1443,7,Bottled Water,NaN,10.50
3601,3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",33.75
3750,3750,1500,1,Carnitas Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.99
3887,3887,1559,8,Side of Chips,NaN,13.52
3889,3889,1559,2,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",16.98
3890,3890,1559,2,Carnitas Crispy Tacos,"[Fresh Tomato Salsa (Mild), [Cheese, Lettuce]]",17.98
4152,4152,1660,10,Bottled Water,NaN,15.00
4354,4354,1738,2,Steak Soft Tacos,"[Fresh Tomato Salsa, [Cheese, Lettuce]]",18.50
4489,4489,1786,4,Chips and Guacamole,NaN,17.80

## Chipko filter

In [16]:
df1.set_index(['item_name','quantity'])

,,Unnamed: 0,order_id,choice_description,item_price
item_name,quantity,,,,
Bowl,3,445,193,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",22.20
Carnitas Bowl,2,506,212,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",23.50
Bowl,1,673,279,"[Adobo-Marinated and Grilled Steak, [Sour Crea...",7.40
Chips and Mild Fresh Tomato Salsa,1,674,279,NaN,3.00
Chips and Fresh Tomato Salsa,4,1257,511,NaN,11.80
Chips and Roasted Chili Corn Salsa,2,1555,631,NaN,5.90
Veggie Crispy Tacos,1,1653,668,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49
Barbacoa Crispy Tacos,2,1903,768,"[Fresh Tomato Salsa, [Sour Cream, Cheese, Rice]]",18.50
Canned Soda,4,2235,901,[Sprite],4.36
Bottled Water,5,2441,970,NaN,7.50
Chips and Tomatillo-Red Chili Salsa,2,2550,1010,NaN,4.78
Carnitas Burrito,2,2581,1024,"[Tomatillo Red Chili Salsa, [Rice, Pinto Beans...",18.50
Chips and Guacamole,3,2645,1051,NaN,13.35
Steak Crispy Tacos,2,2874,1142,"[Tomatillo-Red Chili Salsa (Hot), [Pinto Beans...",17.98
Chips,3,2936,1167,NaN,6.45
Side of Chips,3,2944,1170,NaN,5.07
Steak Bowl,3,3334,1336,"[Tomatillo Green Chili (Medium), [Rice, Black ...",26.07
6 Pack Soft Drink,2,3389,1360,[Diet Coke],12.98
Carnitas Bowl,3,3480,1398,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",35.25
Chips and Fresh Tomato Salsa,15,3598,1443,NaN,44.25
Bottled Water,7,3599,1443,NaN,10.50
Veggie Burrito,3,3601,1443,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",33.75
Carnitas Salad,1,3750,1500,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.99
Side of Chips,8,3887,1559,NaN,13.52
Veggie Soft Tacos,2,3889,1559,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",16.98
Carnitas Crispy Tacos,2,3890,1559,"[Fresh Tomato Salsa (Mild), [Cheese, Lettuce]]",17.98
Bottled Water,10,4152,1660,NaN,15.00
Steak Soft Tacos,2,4354,1738,"[Fresh Tomato Salsa, [Cheese, Lettuce]]",18.50
Chips and Guacamole,4,4489,1786,NaN,17.80

In [30]:
df1=df1.drop('Unnamed: 0',axis=1)

df1

KeyError: "['Unnamed: 0'] not found in axis"