# Database

In [3]:
#import sqlite database as slq
import sqlite3 as sql
#connect to database named db1
db= sql.connect("db1")
#create table
db.execute("create table xyz (emp_id int, gender text,salary int, age int)")
#insert data
db.execute("insert into emp (emp_id,gender,salary,age) values (100001,'M',)")
db.execute("insert into emp (emp_id,gender,salary,age) values ()")
db.execute("insert into emp (emp_id,gender,salary,age) values ()")
db.execute("insert into emp (emp_id,gender,salary,age) values ()")
db.execute("insert into emp (emp_id,gender,salary,age) values ()")
db.execute("insert into emp (emp_id,gender,salary,age) values ()")
db.execute("insert into emp (emp_id,gender,salary,age) values ()")
db.execute("insert into emp (emp_id,gender,salary,age) values ()")
db.execute("insert into emp (emp_id,gender,salary,age) values ()")
db.execute("insert into emp (emp_id,gender,salary,age) values ()")

db.commit()
res=db.execute("select * from emp")
for row in res:
    print(row)

(2, 'v', 144)
(8, 'vj', 44)