## Pandas

In [23]:
import numpy as np
import pandas as pd

x={"cc":np.arange(0,100,11)}
df=pd.DataFrame(x)
df

   cc
0   0
1  11
2  22
3  33
4  44
5  55
6  66
7  77
8  88
9  99