# Pandas

In [10]:
import numpy as np
import pandas as pd
from numpy import random as rn
df1=pd.DataFrame()
df1['Col1']=rn.randint(100,200,10)
df1['col2']=rn.randint(1,500,10)
df1

   Col1  col2
0   178   368
1   177   437
2   146   209
3   106   281
4   135   298
5   198   466
6   167    90
7   176   470
8   130    20
9   157   433

## Function

In [11]:
def fun1(num):
    if (num > 100):
        return (num/100)
    else:
        return (num%100)

## Apply function on col 2 to get col 3

In [12]:
df1['col3']=df1['col2'].apply(fun1)
df1

   Col1  col2   col3
0   178   368   3.68
1   177   437   4.37
2   146   209   2.09
3   106   281   2.81
4   135   298   2.98
5   198   466   4.66
6   167    90  90.00
7   176   470   4.70
8   130    20  20.00
9   157   433   4.33