# Hypothesis
Making a guess (not wild guess) based on assumption without scientific proof. or Explaining the situation based on reasonable assumptions.

Null Hypothesis = Ho  = > Decisions always leads to status quo. Current status/assumption doesn't change.                                                                                                                                
Alternate Hypothesis = Ha  > Decisions leads to opposite of Ho

### Scenario to understand Null and Alternative Hypothesis
If one wants to start the business and as per the research if there are 300 footfalls, you will break even (starts getting profit).                                                                                                                         
- Here, if footfalls are = or < 300 is Ho                                                                                 
-       if footfalls are > 300 is Ha.                                                                                         
Now, what if there are 310 footfalls? Shall one go for business or no?

### To solve any problem we need to understand errors
-Type 1 Error - If Ho is True and you reject Ho                                                                                 
-Type 2 Error - If Ho is False and you failed to reject Ho

![title](null_hyp.jpg)

![title](Type-I-and-II-errors1.jpg)

### Below equation help us to decide
Risk Associated < Risk Appetite = Reject Ho.                                                                                 
i.e. If p < Î± = reject null (Ho)

### Problem
An automatic bottling machine fills cola into 2 lt (2000 cm3) bottles. A consumer advocate wants to test the null hypothesis that the average amount filed by the machine into the bottle is at least 2,000 cm3. A random sample of 40 bottles coming out of the machine was selected and the exact content of the selected bottles are recorded. The sample mean was 1,999.6 cm3. The population standard deviation is known from the past experience to be 1.30 cm3.
1. Test the null hypothesis at an alpha of 5%

In [29]:
mu = 2000 # Population mean
n = 40    # Sample
xbar = 1999.6  # Sample Mean
sigma = 1.3    # Population standard deviation
alpha = .05    # left = .025 and right tail = .025
# p = ?

#Ho ----->     mu >= 2000
#Ha ----->     mu <  2000
#Assume population is normally distributed and alpha lies on the extreme border of two side (.025 each to make 5%)

In [30]:
import scipy.stats as st
import numpy as np
p_value = st.norm.cdf(xbar,loc=mu,scale=sigma/np.sqrt(40))

In [31]:
p_value

0.025826347487875892

In [4]:
# If 'p' is < alpha reject Ho
# If 'p' is > alpha accept Ho

# Statistical Tools
1. ttest
2. ANOVA

In [35]:
import pandas as pd
hyp = pd.read_csv('Hypothesis ttest.csv')
hyp.head()

    ID  Gender  Race  SEB  School  Prog  Read  Write  Math1  Math2  SST
0   70       0     4    1       1     1    57     52     41     47   57
1  121       1     4    2       1     3    68     59     53     63   61
2   86       0     4    3       1     1    44     33     54     58   31
3  141       0     4    3       1     3    63     44     47     53   56
4  172       0     4    2       1     2    47     52     57     53   61

A teacher want to teach students for a competative exams. She collected sample of students marks from different schools and based on her past experience she believes that, these type of students will score more than 60 marks in the exams.
Now she want to conduct hypothesis test on the marks.

In [36]:
# Ho = mu >= 60
# Ha = mu < 60

In [37]:
#hyp['Math2'].mean()

In [38]:
hyp['Math1'].mean()

52.645

In [39]:
alpha = .05
xbar = 52.645
mu = 60

# 1 Sample t test

In [40]:
# Since we are conducting test for one sample we will go for 1sampal ttest
st.ttest_1samp(hyp.Math1,mu)

Ttest_1sampResult(statistic=-11.102736525713398, pvalue=1.3339158110547646e-22)

In [10]:
# When you run ttest, we get 2 values 1. t statistics score and 2. pvalue for two tail
# pvalue/2

In [41]:
# lets write this way
s,p = st.ttest_1samp(hyp.Math1,mu)

In [42]:
s

-11.102736525713398

In [43]:
p

1.3339158110547646e-22

In [44]:
# for our problem we need to find left tail p value
p/2

6.669579055273823e-23

# 2 sample t test
### Independent sample
### paired sample

In [45]:
hyp.head()

    ID  Gender  Race  SEB  School  Prog  Read  Write  Math1  Math2  SST
0   70       0     4    1       1     1    57     52     41     47   57
1  121       1     4    2       1     3    68     59     53     63   61
2   86       0     4    3       1     1    44     33     54     58   31
3  141       0     4    3       1     3    63     44     47     53   56
4  172       0     4    2       1     2    47     52     57     53   61

In [46]:
hyp['Gender'].value_counts()

1    109
0     91
Name: Gender, dtype: int64

In [47]:
#How to subset the data on Gender
hyp[hyp['Gender']==1].Math1.head()

1     53
92    65
93    52
94    46
95    61
Name: Math1, dtype: int64

In [48]:
# Independent sample
t,p=st.ttest_ind(hyp[hyp['Gender']==1].Math1,hyp[hyp['Gender']==0].Math1)

In [49]:
p

0.6800544974232143

In [52]:
# Paired sample
t,p=st.ttest_rel(hyp.Math1,hyp.Math2)

In [53]:
p

0.17676525605507354

There is an another test which is more than 2 sample t test. But for each t test we allow 5% error (alpha), so if we conduct more than 2 sample t test we are adding 5% more error for each extra sample t test.
In order to resolve this problem we go for ANOVA test. i.e. ANalysis Of VAriance