In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('chipotle.csv')
df.head()

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

####  clean the item_price column and transform it in a float


####  reassign the column with the cleaned prices


####  delete the duplicates in item_name and quantity


####  chipo_filtered

####  select only the products with quantity equals to 1



####  What is the price of each item? print a data frame with only two columns item_name and item_price

####  Sort by the name of the item


####  What was the quantity of the most expensive item ordered?


####  How many times was a Veggie Salad Bowl ordered?

####  How many times did someone order more than one Canned Soda?