# ANOVA (ANalysis Of VAriance)
ANOVA is used to compare differences of means among more than 2 groups. It does this by looking at variation in the data and where that variation is found (hence its name). Specifically, ANOVA compares the amount of variation between groups with the amount of variation within groups.
- Null hypothesis, typically is that, all means are equal.
- The independent variables are categorical.
- Dependent variables are continues.

### F Value
F = Sample means of between groups/sample means of within groups

 Use case
- We are trying to predict the product sales based on its promotion, where low (radio,newspaper), middle(billboards in public places) and high level(TV ads) promotions are categorical in nature.

In [5]:
#Example
import pandas as pd
marks = {'A':[82,83,97],'B':[83,78,68],'C':[38,59,55]}
df = pd.DataFrame(marks,index=['St1 Maths','St2 Maths','St3 Maths'])

In [6]:
#Marks obtained from the 3 students from different schools given below
# Does the data suggest any association between schools and marks
df

            A   B   C
St1 Maths  82  83  38
St2 Maths  83  78  59
St3 Maths  97  68  55

Partition the total variation in the data into variance between groups and variance within groups.
### Hypothesis construction
ANOVA Hypothesis - The null hypothesis for ANOVA says that, average of dependent variable are same for all the given groups.   
Alternate Hypothesis says, mean of dependent variable are not same for the given groups. 

-Ho : muA = muB = muC                                                                                                           
-Ha : not all are equal

In [7]:
#Step 1 (Calculate the means of each school)
school_a = df['A'].mean()
school_b = df['B'].mean()
school_c = df['C'].mean()
print ('School A ====> ', round(school_a,2))
print ('School B ====> ', round(school_b,2))
print ('School C ====> ', round(school_c,2))

School A ====>  87.33
School B ====>  76.33
School C ====>  50.67

In [8]:
#Step 2 (Calculate the grand mean)
school_grand = (school_a + school_b + school_c)/3
print ('Grand mean =====>',round(school_grand,2))

Grand mean =====> 71.44

In [53]:
#Step 3  Variations between,within and total
# Sum of squared (SS) deviation about grand mean. 
#i.e. sum of (71.44 - 1st instance)**2 upto (71.44 - last instance)**2 and each squared
#########  SS_Total
#(71.44 - 82)**2 +(71.44 - 83)**2+(71.44 - 97)**2+
#(71.44 - 83)**2+(71.44 - 78)**2+(71.44 - 68)**2+
#(71.44 - 38)**2+(71.44 - 59)**2+(71.44 - 55)**2
ss_total = 2630.2 

#########   SS_Within
#(87.3 - 82)**2 + (87.3 - 83)**2 + (87.3 - 97)**2 + 
#(76.3 - 83)**2 + (76.3 - 78)**2+(76.3 - 68)**2   +
#(50.6 - 38)**2 +(50.6 - 59)**2+(50.6 - 55)**2
ss_within = 506
########   SS_Between
# (Grand mean - Group A.mean)**2 multiply by 3 (3 is the number of items or students in group A) +
# (Grand mean - Group B.mean)**2 multiply by 3 (3 is the number of items in group B) +
# (Grand mean - Group C.mean)**2 multiply by 3 (3 is the number of items in group C) 
ss_between = 2124.2

In [54]:
# Find the degrees of freedom
#defr total = number of observations - 1 = 9-1 = 8
defr_tot = 8
# defr between = number of groups - 1 = 3-1 = 2
defr_betw = 2
# defr within = number of observations - number of groups = 9-3 = 6
defr_with = 6

In [55]:
# Step 4 Calculate the mean squared variance
ms_betw_gr = ss_between/defr_betw
print ('Mean Squared between groups == >', ms_betw_gr)
ms_with_gr = ss_within/defr_with
print ('Mean Squared within groups == >', ms_with_gr)

Mean Squared between groups == > 1062.1
Mean Squared within groups == > 84.33333333333333

In [46]:
# Step 5 Calcualte F statistics
f_value = ms_betw_gr/ms_with_gr
f_value

12.594071146245058

In [71]:
# Calcualate the p value from the F table
# p value for given f-value 12.59 and degrees of freedom 2(between) and 6(within) is 0.007

### Conclusion
Since the p value is less than alpha (.05), we can conclude by rejecting null hypothesis that, there is a difference in the marks obtained by students belonging to different groups

# Using Python

In [16]:
import pandas as pd
hyp = pd.read_csv('Hypothesis ttest.csv')
hyp.head()

    ID  Gender  Race  SEB  School  Prog  Read  Write  Math1  Math2  SST
0   70       0     4    1       1     1    57     52     41     47   57
1  121       1     4    2       1     3    68     59     53     63   61
2   86       0     4    3       1     1    44     33     54     58   31
3  141       0     4    3       1     3    63     44     47     53   56
4  172       0     4    2       1     2    47     52     57     53   61

As per ANOVA we need to find continues data based on the categorical variable.
- Math1 is continues variable and 
- Program is categorical variable.

In [17]:
import statsmodels.formula.api as sm
mod=sm.ols('Math1~Prog',data=hyp).fit()
import statsmodels.api as k
aov_table=k.stats.anova_lm(mod)
aov_table

             df        sum_sq     mean_sq         F    PR(>F)
Prog        1.0    393.527279  393.527279  4.564033  0.033878
Residual  198.0  17072.267721   86.223574       NaN       NaN

### prog     = Between
### Residual = Within
### sum_sq = sum(mean - x)*2
### Prog - mean_sq = ss_between/df_between
### Residual - mean_sq = ss_within/df_within
### f value = between-mean_sq/within-mean_sq
### PR = p value